html {
  height: 100%;
  width: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: border-box;
  font-family: "HelveticaNeue-Light", Arial;
}
html #logo {
  background-image: url("../img/logo.jpg");
  width: 153px;
  height: 55px;
  position: relative;
  margin-top: 20px;
  left: 25%;
}
html body div.ip-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -230px;
  font-size: 20px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.85);
}
html body div.ip-box input {
  font-size: 20px;
  color: #000000;
  margin-top: 20px;
}
html body div.ip-box input[type="text"] {
  height: 40px;
  width: 280px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border: 0px solid transparent;
  border-bottom: 1px solid #999;
}
html body div.ip-box ::-webkit-input-placeholder {
  color: #33334C;
}
html body div.ip-box input[type="date"] {
  height: 40px;
  width: 280px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border: 0px solid transparent;
  border-bottom: 1px solid #999;
}
html body div.ip-box input[type="radio"] {
  float: left;
  clear: none;
  margin: 5px 0 0 10px;
}
html body div.ip-box input[type="checkbox"] {
  height: 15px;
  width: 15px;
  float: left;
  clear: none;
  margin-top: 5px;
}
html body div.ip-box label {
  margin-left: 20px;
}
html body div.ip-box label.radio {
  float: left;
  clear: none;
  display: block;
}
html body div.ip-box .gender {
  margin-top: 20px;
  text-align: center;
  margin-left: 17%;
}
html body div.ip-box p.mailing-list {
  margin-left: 12%;
}
html body div.ip-box button.submit {
  height: 40px;
  font-size: 20px;
  width: 300px;
  background-color: #0e8fdc;
  border: 0px;
  color: #fff;
  text-transform: uppercase;
  font-family: "HelveticaNeue-Light", Arial;
}
